body {
	background: $color-bg;
	color: $color-font;
}
section {
	margin: 2em;
}
footer {
  padding: 2em;
  margin: 2em;
  background: #fff;
}
header {
	padding: 2em;
  margin: 1em 0;
  background: #fff;
}