#work {
	margin: 0;
	ul {
		@include flexbox();
		flex-wrap: wrap;
		position: relative;
		li {
			@include flexbox();
			width: 50%;
			max-height: 500px;
			overflow: hidden;
			background: #0f0;
			color: #FFF;
			position: relative;
			a {
				display: block;
				background: #fff;				
				width: 100%;
				margin: auto;
			}
			img {
				width: 100%;
			}
			.content {
				display: block;
				position: absolute;
				pointer-events: none;
				top: 20%;
				left: 10%;
				z-index: 1;
				zoom: 1;
			}
		}
	}
}