<div id="main" role="main" class="\{{ sectionType }}">
	{{> hero this ~}}
	{{> quote ~}}
    {{> details ~}}
	{{> work work ~}}
	{{> quote ~}}
	{{> clients clients ~}}
	{{> quote ~}}
	{{> awards awards ~}}
	{{> quote ~}}
	{{> footer footer ~}}
</div>
