<section details>
    <h1>{{ campaign }}</h1>
    <h3>{{ client }}</h3>
    <p ng-repeat="paragraph in description">{{ paragraph }}</p>
    <article>
        <div ng-repeat="block in blocks" du-parallax y="background">
            <p ng-if="block.copy">{{ block.copy }}</p>
            <img ng-src="{{ block.image }}" ng-if="block.image || block.award"/>
        </div>
    </article>
    <div class="others">
        <div>
            <img src="" alt="">
            <h4>Publishing Site</h4>
            <p>Conde Nast</p>
        </div>
        <div>
            <img src="" alt="">
            <h4>Our Book of Liquid Gold</h4>
            <p>Kraft</p>
        </div>
    </div>
</section>
