<div id="main" role="main" class="">
	{{>hero this }}
	{{> quote }}
	{{> work work }}
	{{> quote }}
	{{> clients clients }}
	{{> quote }}
	{{> awards awards }}
	{{> quote }}
	{{> footer footer }}
</div>
