<section id="hero">
	<div class="inner">
		<img class="logo" src="{{ logo }}" alt="BALT"/>
		<div class="contact">
			<h5>{{ footer.email }}</h5>
			<h5>{{{ footer.city }}}</h5>
		</div>
	</div>
</section>
